<%provide(:title, @title) %>
<div>
    <div class="header">
        <div class="exon">
        Exon1 <span class="exon_1">                 </span>
        Exon2 <span class="exon_2">                 </span>
        Exon3 <span class="exon_3">                 </span>
        Exon4 <span class="exon_4">                 </span>
        Exon5 <span class="exon_5">                 </span>
        Exon6 <span class="exon_6">                 </span>
        Exon7 <span class="exon_7">                 </span>
        </div>
        <br/>
        <div class="labels">
            <table>
                <tr>
                    <td class="table_hdr"><span id="seqname_1">ABC</span><span class="panel_1_col">       </span></td>
                    <td class="table_hdr"><span id="seqname_2">ABC</span><span class="panel_2_col">       </span></td>
                    <td class="table_hdr"><span id="seqname_3">ABC</span><span class="panel_3_col">       </span></td>
                    <td class="table_hdr"><span id="seqname_4">Result</span></td>
                </tr>
            </table>
        </div>
    </div>
    <div id="placeholder">
        <div id="rownum_var" class="hidden"></div>
        <div id="position_bar_inited" class="hidden">false</div>
        <div id="result_panel_inited" class="hidden">false</div>
    </div>

    <!--<div class="sequence">-->
        <!--<%= @match_line %>-->
    <!--</div>-->
    <!--<br/>-->
    <div class="content">
        <div id="col1" class="ctrl">
            <div id="position_bar" class="sequence"></div>
        </div>
        <div id="col2">
            <div id="col2_1">
                <div id="panel_1" class="sequence"></div>
            </div>
            <div id="col2_2">
                <div id="col2_2_1">
                    <div id="control_1" class="sequence">2_2_1</div>
                </div>
                <div id="col2_2_2">
                    <div id="col2_2_2_1">
                        <div id="panel_2" class="sequence"></div>
                    </div>
                    <div id="col2_2_2_2">
                        <div id="col2_2_2_2_1">
                            <div id="control_2" class="sequence">yyy</div>
                        </div>
                        <div id="col2_2_2_2_2">
                            <div id="col2_2_2_2_2_1">
                                <div id="panel_3" class="sequence"></div>
                            </div>
                            <div id="col2_2_2_2_2_2">
                                <div id="col2_2_2_2_2_2_1">
                                    <div id="control_3" class="sequence">zzz</div>
                                </div>
                                <div id="col2_2_2_2_2_2_2">
                                    <div id="col2_2_2_2_2_2_2_1">
                                        <div id="result_panel" class="sequence"></div>
                                    </div>
                                    <div id="col2_2_2_2_2_2_2_2">
                                        <div id="control_4" class="sequence">www</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="footer">
                <br/>
                <br/>

                <div id="save_txt">Save result</div>

                <br/>
                <br/>
            </div>

            <div id="result_box" class="hidden">
                <div id="result_nuc" class="sequence">

                </div>
            </div>
        </div>
    </div>

</div>