/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.header {
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: white;
    background-repeat: repeat;
    z-index: 100;
}
.content {
    position: absolute;
}

.hidden {
    visibility: hidden;
}
#placeholder {
    height: 60px;
}
.sequence {
    font-size: 16px;
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    /*white-space: pre;*/
    /*line-height: 2px;*/
    text-align: left;
}

.ctrl {
    background-color: #f0f0f0;
}

/* ctl1*/
#col1 {
    float: left;
    /*background-color: lightblue;*/
    width: 50px;
}
#col2 {
    float: right;
}
/*panel 1*/
#col2_1 {
    float: left;
    /*background-color: lightgreen;*/
    width: 372px;
}
#col2_2 {
    float: right;
}
/*ctl 2*/
#col2_2_1 {
    float: left;
    /*background-color: lightblue;*/
    width: 50px;
}
#col2_2_2 {
    float: right;
}
/*panel 2*/
#col2_2_2_1 {
    float: left;
    /*background-color: lightgreen;*/
    width: 372px;
}
#col2_2_2_2 {
    float: right;

}
/*ctl 3*/
#col2_2_2_2_1 {
    float: left;
    /*background-color: lightblue;*/
    width: 50px;
}
#col2_2_2_2_2 {
    float: right;
}
/*panel 3*/
#col2_2_2_2_2_1 {
    float: left;
    background-color: lightgreen;
    width: 372px;
}
#col2_2_2_2_2_2 {
    float: right;
}
/*ctl 4*/
#col2_2_2_2_2_2_1 {
    float: left;
    /*background-color: lightblue;*/
    width: 50px;
}
/*panel 4*/
#col2_2_2_2_2_2_2 {
    float: right;
    /*background-color: lightgreen;*/
    width: 372px;
}

.nuc-matching {
    background-color: #90ee90;
}
.nuc-warning {
    background-color: red;
}
.nuc-bg {
    background-color: #fff5ee;
}
.exon span {
    white-space: pre;
}
.labels {
    background-color: #f0f0f0;
}
.labels span {
    white-space: pre;
    font-size: 16px;
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}
.table_hdr {
    width: 368px;
    overflow: hidden;
    padding-left: 50px;
}
.exon_1 {
    background-color: #6495ed;
}
.exon_2 {
    background-color: #ffcc00;
}
.exon_3 {
    background-color: #ff7f50;
}
.exon_4 {
    background-color: #ffcccc;
}
.exon_5 {
    background-color: green;
}
.exon_6 {
    background-color: yellow;
}
.exon_7 {
    background-color: #4682b4;
}
.exon_8 {
    background-color: #ff6347;
}
.no-exon {
    background-color: #ffffff;
}