/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.header {
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: white;
    background-repeat: repeat;
    z-index: 100;
}
.content {
    position: absolute;
}

.hidden {
    visibility: hidden;
}
.visible {
    visibility: visible;
}
#placeholder {
    height: 80px;
}
.sequence {
    font-size: 16px;
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    /*white-space: pre;*/
    /*line-height: 2px;*/
    text-align: left;
}

.ctrl {
    background-color: #f0f0f0;
}


/* ctl1*/
#col1 {
    float: left;
    width: 60px;
}
#col2 {
    float: right;
}
/*panel 1*/
#col2_1 {
    float: left;
    width: 372px;
}
#col2_2 {
    float: right;
}
/*ctl 1*/
#col2_2_1 {
    float: left;
    width: 50px;
}
#col2_2_2 {
    float: right;
}
/*panel 2*/
#col2_2_2_1 {
    float: left;
    width: 372px;
}
#col2_2_2_2 {
    float: right;

}
/*ctl 2*/
#col2_2_2_2_1 {
    float: left;
    width: 50px;
}
#col2_2_2_2_2 {
    float: right;
}
/*panel 3*/
#col2_2_2_2_2_1 {
    float: left;
    width: 372px;
}
#col2_2_2_2_2_2 {
    float: right;
}
/*ctl 3*/
#col2_2_2_2_2_2_1 {
    float: left;
    width: 50px;
}

#col2_2_2_2_2_2_2 {
    float: right;
}
/*panel 4*/
#col2_2_2_2_2_2_2_1 {
    float: left;
    width: 372px;
}
#col2_2_2_2_2_2_2_2 {
    float: right;
    width: 50px;
}

#footer {
    clear: both;
}
.nuc-matching {
    background-color: #90ee90;
}
.nuc-warning {
    background-color: red;
}
.nuc-bg {
    background-color: #fff5ee;
}
.exon span {
    white-space: pre;
}

.labels {
    background-color: #f0f0f0;
}

.labels span {
    white-space: pre;
    font-size: 16px;
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

.table_hdr {
    width: 362px;
    overflow: hidden;
    padding-left: 58px;
}

.exon_bar {
    text-align: right;
}
.exon_bar span {
    white-space: pre;
}

.panel_1_col {
    background-color: #fff8dc;
}
.panel_2_col {
    background-color: #ffcc00;
}
.panel_3_col {
    background-color: #ffe4e1;
}

.codon_start_col {
    background-color: #90ee90;
}
.codon_stop_col {
    background-color: #ff6347;
}
.signal_col {
    background-color: #00bfff;
}
.search_col {
    background-color: aqua;
}
.modified_col {
    background-color: #ff0000;
}
.menusel_col {
    background-color: #888888;
}

.exon_1 {
    background-color: #6495ed;
}
.exon_2 {
    background-color: #ffcc00;
}
.exon_3 {
    background-color: #ff7f50;
}
.exon_4 {
    background-color: #ffcccc;
}
.exon_5 {
    background-color: green;
}
.exon_6 {
    background-color: yellow;
}
.exon_7 {
    background-color: #4682b4;
}
.exon_8 {
    background-color: #ff6347;
}
.no-exon {
    background-color: #ffffff;
}

#result_box {
    width: 1200px;
    height: 600px;
    position: fixed;
    top: 100px;
    left: 200px;
    background-color: #fff8dc;
    z-index: 100;
}

#result_nuc {
    margin: 16px;
}

#nuc_switcher {
    width: 200px;
    height: 60px;
    position: fixed;
    top: 300px;
    left: 1120px;
    background-color: #fff8dc;
    z-index: 100;
}

#nuc_switcher_main {
    margin: 16px;
}

#search_box {
    width: 260px;
    height: 60px;
    position: fixed;
    top: 300px;
    left: 1030px;
    background-color: #fff8dc;
    z-index: 100;
}

#search_form {
    margin: 16px;
}